<a href="https://colab.research.google.com/github/19PA1A0559/07-03-2020-updated/blob/master/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Import the required packages
import pandas as pd # for handling data in the form of tables
import numpy as np # For handling matrix
from sklearn.model_selection import train_test_split # For spliting the data into train and test
from sklearn.linear_model import LinearRegression # for using the model
import matplotlib.pyplot as plt # for plotting

i=pd.read_csv("/content/iris-flower-dataset.zip")
i

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
x=i[['petal_length','petal_width']].values
y=i['sepal_length'].values

x.shape

(150, 2)

In [6]:
y.shape

(150,)

In [9]:
i.isna().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

In [0]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25,)

In [11]:
model = LinearRegression()  
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
model.intercept_

4.228615205116018

In [13]:
model.coef_

array([ 0.50644651, -0.22458255])

In [14]:
predicted_quality=model.predict(X_test)
predicted_quality.shape

(38,)

In [15]:
X_test.shape

(38, 2)

In [0]:
Actual_predicted=pd.DataFrame({"Actual": y_test.flatten(), "Predicted": predicted_quality.flatten()})

In [17]:
Actual_predicted.head()

   Actual  Predicted
0     5.5   5.962444
1     4.4   4.842079
2     7.7   7.206556
3     5.1   4.920910
4     5.2   5.889341